
/* progress indicator */
.loading-indicator { width: 55px; height: 55px; opacity: 0.4; filter: alpha(opacity=40); text-align: center; z-index: 9999999; background: url(../images/loading.gif) no-repeat center center; }​