
<div data-title="A Complete Example">

    <h1>Complete Example</h1>
    <p>
        This is a more complete example illustrating how a list of tasks would be displayed.  
    </p>   

    <p>
        Actions are configurable objects that define a set of behaviors.  This reduces the need for 
        repetitive code, and speeds up development.  The action below defines any required resources
         as well as the remote URL, view, model, updater, title and address.
    </p>

    <span class="tag">Controller - "/controllers/task.js"</span>
    <pre class="brush: js">
        
        var TaskController = new Controller("task", {

            list: new Action({
                require: {                  //JQuery UI is required for view, ensure it's loaded
                    scripts: "jqueryui",    //Load script file
                    styles: "jqueryui"      //Load style sheet
                },
                remote: "/api/tasks",       //Get data from remote URL
                view: "list",               //Load view template and merge with data
                model: TaskList,            //Use this model
                updater: "content",         //Update the result in the main content area
                title: "My Tasks",          //Update page title
                address: "/Tasks"           //Set current address for deep linking
            })

        });

    </pre>
    
    <p>
        Data is retrieved from the server via the <b>remote</b> property on the action.  Requests
        are automatically made to the server.
    </p>

    <span class="tag">Server Response - "/api/tasks"</span>
    <pre class="brush: js">
        {
            tasks: [
                { id: 123, title: "First Task", priority: "High" },
                { id: 456, title: "Second Task", priority: "Low" },
            ],
            page: 1,
            pageSize: 10
        }
    </pre>

    <p>
        Models can be functions or objects.  If it's an object, then its merged with any remote data.  If it's
        a function, then it is executed with the response data as the first argument.
    </p>

    <span class="tag">Model - "/models/tasks.js"</span>
    <pre class="brush: js">
        //Add any custom properties to response data
        var TaskList = function(data) {
            data.count = data.tasks.length;
            return data;
        };
    </pre>

    <p>
        Views are automatically retrieved, cached and rendered with data. The view is then updated in the DOM
        with an updater specified by the action's <b>updater</b> property.  The page title and address are
        also updated along with the view.
    </p>
    <span class="tag">View Template - "/views/tasks/list.html"</span>
    <pre class="brush: xml">
        
        <div id="task-list">
            {count} tasks found.
            <div go-each="tasks" id="task-{id}">
                <a href="/task/details/{id}">Details</a>
                <h3>{title}</h3> - <span>{priority}</span>
            </div>
        </div>

    </pre>

</div>
