
<div data-title="Basics">

    <h2>Hello World</h2>

    <p>
        The following is a simple example of how one would display a simple message returned from the server.
    </p>
    <p>
        When a user clicks the below link, the click event is intercepted and routed to the controller action.
        The URL <b>/message/speak</b> is matched to the default route <b>/{controller}/{action}</b>, which 
        resolves to the <b>MessageController.speak</b> action.  The "speak" action has two properties, 
        "remote" which is the remote URL to request, and "response" which is an event handler for the response.
    </p>
    
    <span class="tag">HTML Page</span>
    <pre class="brush: xml;">
        <!doctype html>
        <html-temp>
            <head-temp>
                <script-temp src="/scripts/jquery.js"></script-temp>
                <script-temp src="/scripts/go.js"></script-temp>
            </head-temp>
            <body-temp>
                <a href-temp="/message/speak">Say Something</a>
            </body-temp>
        </html-temp>
    </pre>

    <span class="tag">Server Response</span>
    <pre class="brush: js;">
        {"message": "Hello World!"}
    </pre>

    <span class="tag">Controller & Action</span>
    <pre class="brush: js;">
        var MessageController = new Controller("message", {
        
            speak: new Action({
                remote: "/api/message/get",     //Connect to remote service
                response: function(e) {         //Handle the response
                    alert(e.data.message);
                }
            })

        });
    </pre>

    <a href="/message/speak">Say Something</a>

</div>