
<div>
    <div class="hero-unit" style="padding-top: 35px; padding-bottom: 35px;">
        <h1>GoJS... Make your apps Go!!</h1>
        <p>
            GoJS is a full-featured JavaScript MVC framework that aims to reduce code and speed up development.
        </p>
        <p>
            <a class="btn btn-primary btn-large marg-right" href="/helloworld">Learn More »</a>
            <a class="btn btn-seconday btn-large marg-right" href="https://github.com/exsurgo/gojs">View Source »</a>
            <b>v 0.7 Alpha</b>
        </p>
    </div>
    <div class="row-fluid">
    <div class="span4">
        <h3 class="check-mark">Client-Side MVC</h3>
        <p>
            Build sophisticated, singe-page Model-View-Controller apps with minimal effort.
        </p>
        <p><a class="btn" href="/helloworld">View details »</a></p>
    </div>
    <div class="span4">
        <h3 class="check-mark">Templates</h3>
        <p>
            Automatically store and render views with a powerful rendering engine.  
        </p>
        <p><a class="btn" href="/templates">View details »</a></p>
    </div><!--/span-->
    <div class="span4">
        <h3 class="check-mark">Resource Loading</h3>
        <p>
            Dynamically load server-side resources such as scripts, styles, views and images, on-demand.
        </p>
        <p><a class="btn" href="/resources">View details »</a></p>
    </div><!--/span-->
    </div>
    <div class="row-fluid">
    <div class="span4">
        <h3 class="check-mark">Automatic Updates</h3>
        <p>
            Automatically retrieve HTML from the server and update the DOM.
        </p>
        <p><a class="btn" href="/updates">View details »</a></p>
    </div><!--/span-->
    <div class="span4">
        <h3 class="check-mark">Routing</h3>
        <p>
            URL's are automatically routed to controller actions via predefined routes. 
        </p>
        <p><a class="btn" href="/routing">View details »</a></p>
    </div><!--/span-->
    <div class="span4">
        <h3 class="check-mark">Deep Linking</h3>
        <p>
            Built-in support for deep-linking and front/back button navigation.
        </p>
        <p><a class="btn" href="/deeplinking">View details »</a></p>
    </div><!--/span-->
    </div>
</div>