
<div data-title="Templates">

    <h1>Templates</h1>

    <p>
        GoJS includes a full template rendering engine.  The following syntaxes are supported.
    </p>

    <hr />

    <h4>Inserting Values</h4>

    <span class="tag">Infer value from current context</span>
    <pre class="brush: xml">
        <span>{title}</span>
    </pre>
    <span class="tag">Same as above</span>
    <pre class="brush: xml">
        <span>{= this.title}</span>
    </pre>
    <span class="tag">Dot notation can be used</span>
    <pre class="brush: xml">
        <span>{title.toLowerCase()}</span>
    </pre>
    
    <hr />

    <h4>Conditionals</h4>

    <span class="tag">If/Else via Tags</span>
    <pre class="brush: xml">
        {? isTrue}
            <span>Its true</span>
        {:}
            <span>Its false</span>
        {/?}
    </pre>
    <span class="tag">If/Else via Attributes</span>
    <pre class="brush: xml">
        <span if="isTrue">Its true</span>
        <span if="!isTrue">Its false</span>
    </pre>

    <hr />

    <h4>Looping</h4>

    <span class="tag">Each via Tags</span>
    <pre class="brush: xml">
        {~ items}
            <span>{title}</span>
        {/~}
    </pre>
    <span class="tag">Each via Attributes</span>
    <pre class="brush: xml">
        <span each="items">{title}</span>
    </pre>

    <hr />

    <h4>Child Templates</h4>

    <span class="tag">Render the child template "child-template"</span>
    <pre class="brush: xml">
        <div>
            {> "child-template", this}
        </div>
    </pre>

</div>